fastapi
slowapi
uvicorn
uvloop
websockets

numpy

gmqtt
google-genai
python-dotenv
jinja2
PersistDict
python-multipart
python-jose[cryptography]
sqlalchemy
paho-mqtt
cython
setuptools

sqlitedict
concurrent_collections

./iotcore-3.0.4-cp312-cp312-manylinux_2_38_x86_64.whl
# iotcore
maturin
orjson
sse-starlette
starlette
requests_sse 